* {
  font-family: Arial, Helvetica, sans-serif;
}

#timer {
  margin-right: 30px;
  display: none;
}

.container {
  width: 100%;
}

body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  font-weight: bold;
  text-align: center;
}

.instructions {
  font-size: medium;
  text-align: center;
}

.startpage-buttons {
  background-color: rgb(80, 2, 114);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: black;
}

.endpage-buttons {
  background-color: rgb(80, 2, 114);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: black;
  display: inline;
}

#endpage-btns {
  display: none;
}

#quiz-container {
  display: none;
}

#endpage-container {
  display: none;
}

.question-btns {
  background-color: rgb(80, 2, 114);
  color: white;
  border: none;
  margin: 10px;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: black;
  display: block;
}

#high-scores {
  font-size: xx-large;
}

#initials {
  align-content: center;
}
